main{
    flex-grow: 1;
    padding: 1rem;
}

h1 { 
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0;
    font-weight: 400;
}

/* Accordion Style */
details {
    background: var(--primary-color);
    color: var(--primary-contrast);
    border: 2px solid var(--dark-color);
    font-family: var(--second-font-family);
    padding: 1rem;
}

details:first-child {
    border-radius: 16px 16px 0 0;
}

details:last-child {
    border-radius: 0 0 16px 16px;
}

summary {
    font-weight: 700;
    margin-bottom: .5rem;
    cursor: pointer;
    font-size: 1rem;
}

summary::before {
    content: url("../assets/icon/arrow.svg");
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: bottom;
}

details[open] summary::before {
    transform: rotate(-90deg);
}

details p {
    font-size: 0.85rem;
    line-height: 1.4;
}

/* Lists Style */
details ol {
    padding-left: .5rem;
    margin-top: .5rem;
}

details ol > li { 
    list-style-type: decimal;
}

details ol li {
    margin-bottom: .5rem;
    padding-left: .5rem;
    font-size: 0.85rem;
    line-height: 1.4;
}

details ul > li {
    list-style-type: circle;
}

li strong {
    font-weight: 700;
    color: var(--secondary-color);
}

/* Page Media Queries */
@media screen and (min-width: 768px) {
    #faq {
        width: 80%;
        margin: 0 auto;
    }

    summary {
        font-size: 1.2rem;
    }

    details p {
        font-size: 1rem;
    }

    
    details ol {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    #faq {
        width: 60%;
        margin: 0 auto;
    }

    details ol li {
        font-size: .95rem;
    }
}