@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --base-font-size: 16px;
    --base-font-family: "Roboto", sans-serif;

    --primary-color: #93b7be;
    --secondary-color: #653B4A;
    --primary-contrast: #000;
    --secondary-contrast: #fff;
    --dark-color: #454545;
    --light-color: #D5C7BC;
}

html {
    font-size: var(--base-font-size);
    font-family: var(--base-font-family);
}